version: "3.7"
services:
    frontend:
        build:
            context: .
            dockerfile: ./Dockerfile

        image: omegarpg-server
        container_name: omegarpg-server

        volumes:
            # edit settings/settings/orpg_serversettings.json before usage
            - type: bind
              source: "./settings"
              target: "/root/.OmegaRPG/settings"
            # mount keys into container. Let's Encrypt uses symlinks for the live keys, so the entire directory is mounted
            - type: bind
              source: "/etc/letsencrypt/"
              target: "/etc/letsencrypt/"

        ports:
            - "7001:7001"
        command: OmegaRPG-Server-CLI
        tty: true